block privacy
  .container-fluid#skills
    section#privacy.section-proof.section.py-5
      h3.section-title.font-weight-bold.text-center.mb-3 Privacy
      .mx-auto.text-justify 
        b Informações Coletadas Automaticamente

        p Quando você usa os sites: Quando você visita os sites, coletamos determinadas informações relacionadas ao seu dispositivo, como o endereço IP do seu dispositivo, o site de referência, as páginas visitadas pelo dispositivo e a hora em que o dispositivo visitou nosso site.

        p Quando você usa os serviços:

        p Informações de uso – rastreamos a atividade do usuário em relação aos tipos de serviços que nossos clientes e seus usuários usam, a configuração de seus computadores e as métricas de desempenho relacionadas ao uso dos Serviços.
        p Informações de registro – registramos informações sobre nossos clientes e seus usuários quando você usa um dos Serviços, incluindo o endereço IP (Protocolo da Internet).
        p Informações coletadas por cookies e outras tecnologias semelhantes – usamos várias tecnologias para coletar informações que podem incluir salvar cookies nos computadores dos usuários.
        p Como nós usamos a informação?
        p Websites ou Eventos:

        p Usaremos as informações que coletamos em nossos sites:

        p Para administrar nosso site, nossos eventos e para operações internas, incluindo solução de problemas, análise de dados, testes, estatísticas e pesquisa;
        p Para melhorar o nosso site para garantir que o conteúdo seja apresentado da maneira mais eficaz para você e para o seu computador;
        p Para monitoramento de tendências, marketing e publicidade;
        p Para fins claros para você no momento em que você envia suas informações – por exemplo, para atender sua solicitação de demonstração, para fornecer a você acesso a um dos nossos seminários on-line ou para fornecer informações solicitadas sobre nossos Serviços ; e
        p Como parte de nossos esforços para manter nosso site seguro.
        p Nosso uso de suas Informações Pessoais pode se basear em nosso interesse legítimo para garantir a segurança da rede e da informação e para nossos fins de marketing direto.

        p 
          b Sua Privacidade

        p Quando você visita qualquer site, ele pode armazenar ou recuperar informações no seu navegador, principalmente na forma de cookies. Essas informações podem ser sobre você, suas preferências, seu dispositivo, ou serem usadas para fazer o site funcionar como você espera. As informações geralmente não o identificam diretamente, mas podem oferecer uma experiência na Web mais personalizada. Clique nos títulos de categorias abaixo para saber mais. No entanto, você deve saber que o bloqueio de alguns tipos de cookies pode afetar sua experiência no site e nos serviços que podemos oferecer.

        p 
          b Cookies Necessários

        p Estes cookies são aqueles necessários para o site funcionar e não podem ser desligados em nossos sistemas. Eles geralmente são definidos apenas em resposta às ações feitas por você, como por exemplo, definir suas preferências de privacidade, fazer login ou preencher formulários. Caso queira, pode configurar seu navegador para bloqueá-lo ou alertá-lo sobre esses cookies, mas algumas partes do site podem não funcionar de forma adequada.

        p 
          b Cookies utilizados

        p Sessão PHP
        p Cookies de Marketing

        p Os cookies de marketing fornecem informações sobre a interação do usuário com o conteúdo do nosso site, ajudando-nos a entender melhor a eficácia do nosso conteúdo de e-mail e website.
