block testmonials

  .container-fluid
    .testimonials.bg-white.flickity-enabled.is-draggable(tabindex='0')
      .flickity-slider(style='left: 0px; transform: translateX(-105.13%);')
        each test in testmonials
          .testimonial-item(aria-selected='false', style='position: absolute; left: 0%;')
            .position-relative.p-5.shadow-lg
              blockquote.blockquote.pl-4
                p.mb-4 #{test.depoiment}
                svg.svg-inline--fa.fa-quote-left.fa-w-16.quote-icon.fa-lg.position-absolute.text-primary(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='quote-left', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 512 512', data-fa-i2svg='')
                  path(fill='currentColor', d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z')
                footer.blockquote-footer.presudo-hidden
                  .media.client-profile.flex-column.flex-md-row
                    img.mr-md-3(src=`../images/${test.imgSrc}`, alt='')
                    cite.quote-source.d-inline-block.font-style-normal.pt-3(title='Source')
                      span.d-block #{test.name}
                      span.d-block #{test.office}
                      span.d-block.position-absolute.source-link
                        svg.svg-inline--fa.fa-linkedin.fa-w-14.fa-2x.mr-1(data-fa-transform='down-3', aria-hidden='true', focusable='false', data-prefix='fab', data-icon='linkedin', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 448 512', data-fa-i2svg='', style='transform-origin: 0.4375em 0.6875em;')
                          g(transform='translate(224 256)')
                            g(transform='translate(0, 96)  scale(1, 1)  rotate(0 0 0)')
                              path(fill='currentColor', d='M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z', transform='translate(-224 -256)')
                        a.text-secondary(href='/', target='_blank')
                          | View on Linkedin 
                          svg.svg-inline--fa.fa-external-link-alt.fa-w-18.ml-1(data-fa-transform='up-1', aria-hidden='true', focusable='false', data-prefix='fas', data-icon='external-link-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 576 512', data-fa-i2svg='', style='transform-origin: 0.5625em 0.4375em;')
                            g(transform='translate(288 256)')
                              g(transform='translate(0, -32)  scale(1, 1)  rotate(0 0 0)')
                                path(fill='currentColor', d='M576 24v127.984c0 21.461-25.96 31.98-40.971 16.971l-35.707-35.709-243.523 243.523c-9.373 9.373-24.568 9.373-33.941 0l-22.627-22.627c-9.373-9.373-9.373-24.569 0-33.941L442.756 76.676l-35.703-35.705C391.982 25.9 402.656 0 424.024 0H552c13.255 0 24 10.745 24 24zM407.029 270.794l-16 16A23.999 23.999 0 0 0 384 303.765V448H64V128h264a24.003 24.003 0 0 0 16.97-7.029l16-16C376.089 89.851 365.381 64 344 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V287.764c0-21.382-25.852-32.09-40.971-16.97z', transform='translate(-288 -256)')