doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/general.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/flickity-docs.css')
    script(type='text/javascript', src='/js/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/popper.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/flickity.min.js')
    script(type='text/javascript', src='/js/flickity-custom.js')

    meta(name="viewport" content="width=device-width, initial-scale=1")

    block header
    block banner
    block skills
    block companies
    block testmonials
    block timeline
    block notfound
    block privacy
    block license
    block footer
    
