doctype html
html
  head
    title #{title}
    meta(name='msapplication-TileImage', content='https://www.ybarony.xyz/images/yurybarony-min.jpg')
    meta(property='og:site_name', content='`#{title}`')
    meta(property='og:title', content='`#{title}`')
    meta(property='og:description', content='This is the portfolio of systems analyst Yury Barony, I would like to talk and exchange experiences on various technologies. Access this link and we will keep contacts.')
    meta(property='og:image', content='https://www.ybarony.xyz/images/yurybarony-min.jpg')
    meta(property='og:type', content='website')
    meta(property='og:image:type', content='image/jpeg')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')
    meta(property='og:url', content='https://www.ybarony.xyz')
    link(rel='stylesheet', href='/css/general.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/flickity-docs.css')
    script(type='text/javascript', src='/js/jquery-3.3.1.min.js')
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript', src='/js/popper.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/flickity.min.js')
    script(type='text/javascript', src='/js/flickity-custom.js')

    meta(name="viewport" content="width=device-width, initial-scale=1")

    block header
    block banner
    block skills
    block companies
    block testmonials
    block timeline
    block notfound
    block privacy
    block license
    block footer