extends default
include partials/header.pug
include partials/banner.pug
include partials/skills.pug
include partials/companies.pug
include partials/testmonials.pug
include partials/timeline.pug
include partials/footer.pug